:root {
  --accent-color: #2196f3;
  --main-bg-color: #2f303a;
  --main-text-color: #212121;
  --text-color-2: #757575;
}
body {
  font-family: "Roboto";
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
  color: #000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.current-link {
  color: var(--accent-color);
}
.current-link::before {
  content: "";
  position: absolute;
  display: inline-block;
  border-bottom: 4px solid var(--accent-color);
  border-radius: 2px;
  width: 100%;
  top: 45px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current-link:hover::before,
.current-link:focus::before {
  transform: translateY(-30px);
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header > .container {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 93px;
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.78px;
}
.accent-logo {
  color: var(--accent-color);
}
.nav-ul,
.contacts-list {
  display: flex;
  gap: 50px;
}
.contacts-list {
  margin-left: auto;
}
.header-svg {
  fill: #757575;
}
.nav-item-link {
  position: relative;
}
.nav-item-link,
.contacts-item-link {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-item-link {
  color: var(--text-color-2);
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-item-link:hover,
.contacts-item-link:hover {
  color: var(--accent-color);
}
.contacts-item-link:hover .header-svg {
  fill: var(--accent-color);
}

.hero-section {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg.png) no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-section-title {
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36364;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hero-section-buybtn {
  display: block;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  background: var(--accent-color);
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.96px;
  margin: 0 auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-section-buybtn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.special {
  padding-top: 94px;
  padding-bottom: 94px;
}
.special-ul {
  display: flex;
  gap: 30px;
}
.special-ul-item {
  font-size: 14px;
  color: var(--main-text-color);
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  flex-basis: calc((100% - 90px) / 4);
}
.special-ul-item::before {
  content: "";
  display: inline-block;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-image: url("../images/antenna.svg");
  width: 270px;
  height: 120px;
  background-position: center;
  border-radius: 4px;
}
.special-ul-item:nth-child(2)::before {
  background-image: url("../images/clock.svg");
}
.special-ul-item:nth-child(3)::before {
  background-image: url("../images/diagram.svg");
}
.special-ul-item:nth-child(4)::before {
  background-image: url("../images/astronaut.svg");
}
.special-ul-item-title {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 30px;
}
.special-ul-item-signature {
  color: var(--text-color-2);
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.42px;
  text-transform: none;
}

.what-we-doing {
  padding-bottom: 94px;
}
.our-team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.what-we-doing-ul {
  display: flex;
  gap: 30px;
}
.what-we-doing-ul-item {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}
.what-we-doing-name {
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  padding: 27px 0;
}
.what-we-doing-title,
.our-team-title {
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.our-team-ul {
  display: flex;
  gap: 30px;
  text-align: center;
}
.our-team-ul-item {
  background-color: #fff;
  padding-bottom: 30px;
  border-radius: 0 0 4px 4px;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.our-team-ul-item-img {
  width: 270px;
  height: 260px;
  margin-bottom: 30px;
}
.our-team-ul-item-name,
.our-team-ul-item-profession {
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}
.our-team-ul-item-profession {
  margin-top: 10px;
  color: var(--text-color-2);
  font-weight: 400;
}
.social-link-ul {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.social-link,
.footer-link {
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 44px;
  height: 44px;
}
.social-link:hover,
.footer-link:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}
.social-link svg {
  fill: #afb1b8;
}
.social-link:hover svg {
  fill: #fff;
}
.regular-customers {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}
.regular-customers-title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}
.regular-customers-ul {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
}
.regular-customers-link {
  display: flex;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-customers-link > svg {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-customers-link:hover {
  border: 1px solid var(--accent-color);
  cursor: pointer;
}
.regular-customers-link:hover svg {
  fill: var(--accent-color);
}

.footer {
  background: var(--main-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer > .container {
  display: flex;
  gap: 70px;
}
.logo-footer {
  color: #fff;
}
.address {
  margin-top: 20px;
}
.address-url {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  line-height: 1.71429;
  letter-spacing: 0.42px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-url:first-child {
  color: #fff;
}
.address-url:hover {
  color: var(--accent-color);
}
.link-footer,
.form-footer {
  padding-top: 10px;
}
.link-footer-title,
.form-footer-title {
  color: #fff;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.footer-link {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-link > svg {
  fill: #fff;
}
.form-footer {
  margin-left: 23px;
}
.form-footer-form {
  display: flex;
  gap: 12px;
}
.form-footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--main-bg-color);
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  margin-bottom: 20px;
}
.form-footer-input:hover,
.form-footer-input:focus {
  outline: none;
}
.form-footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.form-footer-btn {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-footer-btn::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/icon-send.svg);
}
.form-footer-btn:hover,
.form-footer-btn:focus {
  background-color: #188ce8;
  cursor: pointer;
}
.form-footer-btn:active {
  transform: scale(0.9);
}

.popup {
  position: fixed;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  z-index: 9999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
}
.popup-overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
}
.is-hidden {
  display: none;
  pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}
.close-btn {
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close-btn > svg {
  fill: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover {
  cursor: pointer;
  outline: 1px solid rgba(0, 0, 0, 0.1);
}
.close-btn:hover > svg {
  fill: var(--accent-color);
}
.popup-title {
  color: #212121;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: center; 
}
.popup-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 12px;
}
.popup-input-label {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.popup-input {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 11px 42px;
  margin-top: 4px;
}
.popup-input:focus,
.popup-input:hover {
  outline: 1px solid var(--accent-color);
}
.popup-input-label > svg {
  position: absolute;
  left: 12px;
  top: 50%;
  fill: #212121;
}
.popup-input-label:focus-within > svg,
.popup-input-label:hover > svg {
  fill: var(--accent-color);
}
.popup-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  position: relative;
}
.textarea {
  padding: 11px 12px;
  resize: none;
}
.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  gap: 7px;
  justify-content: center;
}
.policy-label {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  letter-spacing: 0.42px;
}
.policy-label > a {
  color: var(--accent-color);
}
.popup-form-btn {
  display: block;
  padding: 10px 52px;
  border: none;
  border-radius: 4px;
  background: var(--accent-color);
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.96px;
  margin: 0 auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.popup-form-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 1px solid #333;
  cursor: pointer;
  outline: none;
  position: relative;
}
input[type="checkbox"]:checked {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
input[type="checkbox"]:checked::after {
  content: url("data:image/svg+xml;charset=UTF-8,<svg style='position: relative; bottom: 2px; left: 1px' xmlns='http://www.w3.org/2000/svg' width='13' height='10' fill='white' viewBox='0 0 13 10'><path d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z'/></svg>");
}

