.footer {
  background: $main-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;

  .container {
    display: flex;
    gap: 70px;
  }
}
.address {
  margin-top: 20px;
}
.address__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  line-height: 1.71429;
  letter-spacing: 0.42px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:first-child {
    color: #fff;
  }

  &:hover {
    color: $accent-color;
  }
}
.footer__links,
.form-footer {
  padding-top: 10px;
}
.footer__links-title,
.footer__form-title {
  color: #fff;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.footer__form {
  margin-left: 23px;
}
.footer__form-form {
  display: flex;
  gap: 12px;
}
.footer__form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--main-bg-color);
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    outline: none;
    border-color: $accent-color;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}
.footer__form-btn {
  width: 200px;
  height: 50px;
  background: $accent-color;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../images/icon-send.svg);
  }

  &:hover,
  &:focus {
    background-color: #188ce8;
    cursor: pointer;
  }

  &:active {
    transform: scale(0.9);
  }
}
