.footer {
  background: $main-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;

  .container {
    display: flex;
    gap: 70px;
  }
}
.address {
  margin-top: 20px;
}
.address__link {
  color: rgba(255, 255, 255, 0.6);
  @include title(14px, 1.71429, 0.42px, none);
  @include transition(color);

  &:first-child {
    color: #fff;
  }

  &:hover {
    color: $accent-color;
  }
}
.footer-links,
.footer-form {
  padding-top: 10px;
}
.footer-links__title,
.footer-form__title {
  color: #fff;
  @include title(14px, normal, 0.42px, uppercase);
  padding-bottom: 20px;
}
.footer__form-btn {
  margin-left: 23px;
}
.footer-form__form {
  display: flex;
  gap: 12px;
}
.footer-form__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $main-bg-color;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  margin-bottom: 20px;
  @include transition(border-color);

  &:hover,
  &:focus {
    outline: none;
    border-color: $accent-color;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}
.footer-form__btn {
  @extend %btn;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  @include transition(background-color);

  &::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../images/icon-send.svg);
  }

  &:hover,
  &:focus {
    background-color: #188ce8;
    cursor: pointer;
  }

  &:active {
    transform: scale(0.9);
  }
}
