.nav__link--current {
  color: $accent-color;

  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    border-bottom: 4px solid $accent-color;
    border-radius: 2px;
    width: 100%;
    @include transition(transform);

    @media screen and (min-width: 768px) {
      bottom: -35px;
    }
    @media screen and (min-width: 1200px) {
      bottom: -33px;
    }
  }

  &:hover::before,
  &:focus::before {
    transform: translateY(-30px);
  }
}
.header {
  padding: 16px 0;
  border-bottom: 1px solid #ececec;
  position: relative;

  @media screen and (min-width: 768px) {
    padding: 21px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 25px 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 1200px)  {
      justify-content: center;
    }
  }
}

.nav__list,
.contacts-list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 50px;
  }
}
.contacts-list {
  margin-left: auto;
  flex-direction: column;
  gap: 10px;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}
.contacts-list__svg {
  fill: #757575;
  @include transition(fill);
}
.nav__link {
  position: relative;
}
.nav__link,
.contacts-list__link {
  @include title(14px, normal, 0.28px, none);
  font-weight: 500;
  @include transition(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:hover .contacts-list__svg {
    fill: $accent-color;
  }
}
.contacts-list__link {
  color: $text-color-2;
  display: flex;
  align-items: center;
  gap: 10px;
}
.burger {
  @media screen and (min-width: 768px) {
    display: none;
  }
}