.nav__link--current {
  color: $accent-color;

  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    border-bottom: 4px solid $accent-color;
    border-radius: 2px;
    width: 100%;
    top: 45px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover::before,
  &:focus::before {
    transform: translateY(-30px);
  }
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;

  .container {
    display: flex;
    align-items: center;
  }
}

.nav__list,
.header__contacts-list {
  display: flex;
  gap: 50px;
}
.header__contacts-list {
  margin-left: auto;
}
.contacts__list-svg {
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link {
  position: relative;
}
.nav__link,
.contacts-list__link {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:hover .contacts__list-svg {
    fill: $accent-color;
  }
}
.contacts-list__link {
  color: $text-color-2;
  display: flex;
  align-items: center;
  gap: 10px;
}
