.hero {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero-bg_img-mob.jpg) no-repeat;
  padding: 118px 0;
  background-size: cover;
  background-position: top center;
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url('../images/hero/hero-bg_img-mob@2x.jpg');
  }
  @media screen and (min-width: 768px) {
    background-image: url('../images/hero/hero-bg_img-tab.jpg');
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url('../images/hero/hero-bg_img-tab@2x.jpg');
    }
  }
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url('../images/hero/hero-bg_img.jpg');
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url('../images/hero/hero-bg_img1@2x.jpg');
    }
  }
}
.hero__title {
  color: #fff;
  text-align: center;
  @include title(26px, 1.61538, 1.56px, uppercase);
  font-weight: 900;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    @include title(44px, 1.36364, 2.64px, uppercase);
  }
}
.hero__button {
  @extend %btn;
  display: block;
  padding: 10px 24px;
  border-radius: 4px;
  letter-spacing: 0.96px;
  margin: 0 auto;
  @include transition(opacity);

  &:hover,
  &:focus {
    opacity: 0.7;
    cursor: pointer;
  }
  @media screen and (min-width: 1200px) {
    padding: 10px 32px;
  }
}
