.hero {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg.png) no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero__title {
  color: #fff;
  text-align: center;
  @include title(44px, 1.36364, 2.64px, uppercase);
  font-weight: 900;
  margin-bottom: 30px;
}
.hero__button {
  @extend %btn;
  display: block;
  padding: 10px 32px;
  border-radius: 4px;
  letter-spacing: 0.96px;
  margin: 0 auto;
  @include transition(opacity);

  &:hover,
  &:focus {
    opacity: 0.7;
    cursor: pointer;
  }
}
