.regular-customers {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}
.regular-customers__title {
  color: #212121;
  text-align: center;
  @include title(36px, normal, 1.08px, none);
  font-weight: 700;
}
.regular-customers__list {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
}
.regular-customers__link {
  display: flex;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  @include transition(border);

  &:hover {
    border: 1px solid $accent-color;
  }

  svg {
    fill: #afb1b8;
    @include transition(fill);
  }

  &:hover svg {
    fill: $accent-color;
  }
}
