.regular-customers {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}
.regular-customers__title {
  color: #212121;
  text-align: center;
  @include title(36px, normal, 1.08px, none);
  font-weight: 700;
}
.regular-customers__list {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;

  @media screen and (min-width: 1440px) {
    flex-wrap: nowrap;
  }
}
.regular-customers__item {
  @include flex-basis(30px, 2);
  @media screen and (min-width: 768px) {
    @include flex-basis(30px, 3)
  }
}
.regular-customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  @include transition(border);

  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1440px) {
    width: 170px;
  }

  &:hover {
    border: 1px solid $accent-color;
  }

  svg {
    fill: #afb1b8;
    @include transition(fill);
  }

  &:hover svg {
    fill: $accent-color;
  }
}
