.special {
  padding-top: 94px;
  padding-bottom: 94px;
}
.special__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}
.special__item {
  @include title(14px, normal, 0.42px, uppercase);
  color: $main-text-color;
  flex-basis: 100%;

  @media screen and (min-width: 768px) {
    @include flex-basis(30px, 2);
  }

  &::before {
    content: "";
    display: inline-block;
    background-color: #f5f4fa;
    background-repeat: no-repeat;
    width: 270px;
    height: 120px;
    background-position: right;
    border-radius: 4px;


    @media screen and (min-width: 768px) {
      background-position: center;
    }
  }
  @for $i from 1 through 4 {
    &:nth-child(#{$i})::before {
      @if $i == 1 {
        background-image: url("../images/antenna.svg");
      } @else if $i == 2 {
        background-image: url("../images/clock.svg");
      } @else if $i == 3 {
        background-image: url("../images/diagram.svg");
      } @else if $i == 4 {
        background-image: url("../images/astronaut.svg");
      }
    }
  }
}
.special__title {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.special__signature {
  color: $text-color-2;
  @include title(14px, 1.71429, 0.42px, none);
}
