.what-we-doing {
  padding-bottom: 94px;
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}
.what-we-doing__list {
  display: flex;
  gap: 30px;
}
.what-we-doing__item {
  @include flex-basis(20px, 3);
  position: relative;
}
.what-we-doing__name {
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  color: #fff;
  text-align: center;
  @include title(14px, normal, 0.42px, uppercase);
  font-weight: 700;
  padding: 27px 0;
}
.what-we-doing__title {
  text-align: center;
  @include title(36px, normal, 1.08px, none);
  margin-bottom: 50px;
}
