.social-links {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.social-links__link {
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 12px;
  @include transition(background-color);
  width: 44px;
  height: 44px;

  &:hover,
  &:focus {
    background-color: $accent-color;
    cursor: pointer;
  }

  &:hover svg {
    fill: #fff;
  }
}
.social-links__icon {
  fill: #afb1b8;
  @include transition(fill);
}
.social-links__link--bg {
  background-color: rgba(255, 255, 255, 0.1);
}
.social-links__icon--white {
  fill: #fff;
}